*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

header{
    background: #002654;
    height: 12rem;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    width: 100%;
    z-index: 10;
}

.header-container{
    max-width: 1220px;
    margin-inline: auto;
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

    .header-container h1 {
    color: #fff;
    font-family: "Playfair Display", sans-serif;
    font-size: 2.5rem;
}

.header-container ul {
    list-style: none;
    display: flex;
    gap: 6rem;
    font-family: "Playfair Display", sans-serif;
}

.header-container a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 2.5rem;
}

.header-container li:hover {
    transform: scale(1.1);
    transition: 0.4s;
}

.intro {
    padding-top: 14rem;
}

.intro h2{
    font-family: "Playfair Display", sans-serif;
    font-size: 4.5rem;
    text-align: center;
    color: #002654;
    margin-bottom: 2rem;
}

.intro p {
    text-align: center;
    color: #000000;
    line-height: 1.6rem;
    margin: 0 auto;
    max-width: 70rem;
}

.intro {
    background-color: #f2efeb; 
    padding-bottom: 4.5rem;
}

.cinza h2{
    font-family: "Playfair Display", sans-serif;
    color: #002654;
}

.cinza p{
    font-family: "Open Sans", sans-serif;
}
.cinza{
   background: #d9d9d9;
 padding: 4rem 12rem;
  display: flex;
  align-items: center;
  justify-content: space-between;  
  gap: 2rem;
}

.conteudo{
    max-width: 46rem;
}

.cinza img{
      width: 350px;
    max-width: 40%;
    border-radius: 0.6rem;
}

